/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Estilo para los elementos del submenú */
  .dropdown-menu li {
    padding: 10px;
    /* Espaciado interno */
    margin-bottom: 0.5rem;
    /* Agregar margen inferior para separar los elementos del submenú */
    transition: background-color 0.2s ease;
    /* Transición suave para el fondo */
  }
  
  .dropdown-menu a {
    display: block;
    /* Hacer que el enlace ocupe todo el espacio */
    color: #FFF;
    /* Color del texto */
    padding: 10px;
    /* Espaciado interno */
    text-decoration: none;
    /* Sin subrayado */
    transition: color 0.2s ease;
    /* Transición suave para el color del texto */
  }
  
  .dropdown-menu a:hover {
    background-color: #305a3f;
    /* Cambiar el color de fondo al pasar el mouse */
    color: #ffcc00;
    /* Cambiar el color del texto al pasar el mouse */
  }
  
  /* Page Title */
  h1 {
    margin-left: 5rem;
    padding: 1.5rem 0;
    text-align: center;
    font-size: 2rem;
    color: #043e26;
    background-color: #d9f0e2;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  }
  
  /* Main Container */
  .main-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-right: 2rem;
  }
  
  .main-container>div {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 15px;
    transition: box-shadow 0.3s ease;
    min-width: 300px;
    /* Ancho mínimo */
    overflow: hidden;
    /* Evitar que el contenido lo expanda */
  }
  
  .main-container>div:hover {
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
  }
  
  
  /* second Container */
  .second-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-right: 2rem;
  }
  
  .orig-button {
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px; /* Espaciado entre botones */
    width: 100px; /* Ancho fijo para los botones */
    transition: background-color 0.3s ease; /* Transición suave para el color de fondo */
  }
  
  .orig-button:hover {
    opacity: 0.8; /* Efecto de hover */
  }
  
  .orig-button.active {
    transform: translateY(2px); /* Mantener el efecto de clic */
    opacity: 1; /* Asegurarse de que el botón esté completamente visible */
  }
  
  #filtro-container, #filtro-container2 {
    display: flex;
    flex-wrap: wrap; /* Permitir que los botones se envuelvan */
    justify-content: flex-start; /* Alinear los botones al inicio */
  }
  /* General */
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #d9f0e2;
  }
  
  body::before {
    content: "";
    /* Necesario para que el pseudo-elemento se muestre */
    position: fixed;
    /* Fijar la imagen de fondo */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../assets/icon/cfe.png') no-repeat center;
    /* Imagen de fondo */
    background-size: 50%;
    /* Ajusta el tamaño de la imagen (puedes cambiar el porcentaje) */
    filter: blur(8px);
    /* Efecto de desenfoque */
    z-index: -1;
    /* Colocar detrás del contenido */
  }
  
  h3 {
    text-align: center;
    color: #444;
    margin-top: 20px;
    font-size: 1.8em;
  }
  
  /* Estilo general para el contenedor */
  .container {
    margin-left: 6rem;
  }
  
  /* Estilo para el contenedor de carga de archivos */
  #uploadContainer, #uploadPageContainer {
    cursor: pointer;
    /* Cambiar el cursor para indicar que es clickeable */
    padding: 40px;
    /* Espaciado interno */
    text-align: center;
    /* Centrar el texto */
    background-color: #f0f0f0;
    /* Color de fondo */
    border: 2px dashed #ccc;
    /* Borde con estilo */
    border-radius: 8px;
    /* Bordes redondeados */
    transition: background-color 0.3s;
    /* Transición suave para el hover */
  }
  
  /* Efecto hover para el contenedor */
  #uploadContainer:hover {
    background-color: #e0e0e0;
    /* Cambiar el color de fondo al pasar el mouse */
  }
  
  /* Estilo para el área de carga */
  .upload-area {
    font-size: 1.2em;
    /* Tamaño de fuente */
    color: #333;
    /* Color del texto */
  }
  
  /* Estilo para las tarjetas */
  .card {
    text-align: center;
    background-color: #ffffff;
    /* Color de fondo de la tarjeta */
    border-radius: 8px;
    /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombra para dar profundidad */
    padding: 20px;
    /* Espaciado interno */
    margin: 20px 0;
    /* Margen superior e inferior */
    transition: transform 0.2s;
    /* Transición suave para el efecto hover */
    width: 100%;
    /* Ancho completo */
    max-width: 600px;
    /* Ancho máximo de la tarjeta */
  }
  
  /* Efecto hover para las tarjetas */
  .card:hover {
    transform: translateY(-5px);
    /* Levantar la tarjeta al pasar el mouse */
  }
  
  #graphic, #graphic2, #graphic3, #graphic4 {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 12px;
    border-color: #004c3f;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    overflow: hidden;
    margin: 20px 9%;
    max-width: 800px; /* Ajustar el ancho máximo */
    max-height: 600px; /* Ajustar el alto máximo */
}

#graphic {
    min-height: 200px;
    min-width: 300px;
    margin: 0 auto;
}

#graphic2, #graphic3, #graphic4 {
    min-height: 200px;
    min-width: 300px;

    margin: 0 auto;
    margin-bottom: 2rem;
}

  /* Estilos para el contenedor de la gráfica */
  .chart-container {
    width: 80%;
    /* Ocupa el 100% del ancho disponible */
    height: 100%;
    /* Altura fija de 500px */
    margin: 20px 0;
    margin-bottom: 2rem;
    margin-top: 2rem;
    margin-left: 8rem;
    /* Margen superior e inferior */
    padding: 10px;
    /* Espacio interno */
    background-color: #f9f9f9;
    /* Fondo claro */
    border: 1px solid #ddd;
    /* Borde sutil */
    border-radius: 8px;
    /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombra suave */
  }
  
  .table-container th {
    position: sticky;
    top: 0;
    background-color: #006837;
    color: white;
  }
  
  .table-container {
    position: relative;
    background-color: whitesmoke;
    overflow-x: auto;
    overflow-y: auto;
    max-height: 400px;
    white-space: nowrap;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 2rem;
    margin-top: 2rem;
    margin-right: 2rem;
  }
  
  .table-container::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #ccc;
  }
  
  .table-container::-webkit-scrollbar-thumb {
    background-color: #006837;
    border-radius: 10px;
  }
  
  .table-container::-webkit-scrollbar-thumb:hover {
    background-color: #004c3f;
  }
  
  .table-container::-webkit-scrollbar-track {
    background-color: #ccc;
    border-radius: 10px;
  }

  .no-click {
    pointer-events: none;
}


  .table-container2 th {
    position: sticky;
    top: 0;
    background-color: #006837;
    color: white;
  }
  
  .table-container2 {
    position: relative;
    background-color: whitesmoke;
    overflow-x: auto;
    overflow-y: auto;
    max-height: 400px;
    white-space: nowrap;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 2rem;
    margin-top: 2rem;
    margin-right: 2rem;
  }
  
  .table-container2::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #ccc;
  }
  
  .table-container2::-webkit-scrollbar-thumb {
    background-color: #006837;
    border-radius: 10px;
  }
  
  .table-container2::-webkit-scrollbar-thumb:hover {
    background-color: #004c3f;
  }
  
  .table-container2::-webkit-scrollbar-track {
    background-color: #ccc;
    border-radius: 10px;
  }

  #filtroSelect {
    background-color: #006837;
    padding: 8px 15px;
    font-size: 1rem;
    margin-left: 10px;
    border: 2px solid #006837;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .filtroSelect:hover {
    background-color: #45a049;
    color: white;
  }
  
  /* Estilo para las celdas de la tabla */
  th,
  td {
    padding: 10px;
    /* Espaciado interno */
    text-align: left;
    /* Alinear texto a la izquierda */
    border-bottom: 1px solid #ddd;
    /* Línea divisoria entre filas */
  }
  
  /* Estilo para el encabezado de la tabla */
  th {
    background-color: #4CAF50;
    /* Color de fondo del encabezado */
    color: white;
    /* Color del texto del encabezado */
  }
  
  /* Estilo para filas alternas */
  tr:nth-child(even) {
    background-color: #f2f2f2;
    /* Color de fondo para filas pares */
  }
  
  /* Estilo para el contenedor de oportunidades */
  #opportunityContainer, #opportunityContainerAmarillo {
    font-family: 'Inter', sans-serif;
    font-size: 26px; /* Texto grande */
    font-weight: 800; /* Súper resaltante */
    color: #090909; /* Amarillo vibrante */
    text-transform: uppercase; /* Para que se vea más UI */
    text-align: center;
    
    background-color: #F8E45C ;
    border: 2px solid #ffffff;
    /* Borde */
    overflow: hidden;
    /* Ocultar el contenido que se desborda */
    position: relative;
    /* Posicionamiento relativo para el slider */
    width: 100%;
    /* Ancho completo */
    -ms-overflow-style: none;
    /* IE y Edge */
    scrollbar-width: none;
    /* Firefox */
    margin-bottom: 20px;
    /* Espacio inferior */
  }
  
  /* Estilo para el contenedor de oportunidades */
  #opportunityContainer1, #opportunityContainerRojo{
    border: 2px solid #ffffff;
    background-color:#FF6B6B ;

    font-family: 'Inter', sans-serif;
    font-size: 26px; /* Texto grande */
    font-weight: 800; /* Súper resaltante */
    color: #e1e1e1; /* Amarillo vibrante */
    text-transform: uppercase; /* Para que se vea más UI */
    text-align: center;
    
    /* Borde */
    overflow: hidden;
    /* Ocultar el contenido que se desborda */
    position: relative;
    /* Posicionamiento relativo para el slider */
    width: 100%;
    /* Ancho completo */
    -ms-overflow-style: none;
    /* IE y Edge */
    scrollbar-width: none;
    /* Firefox */
    margin-bottom: 20px;
    /* Espacio inferior */
  }
  /* Estilo para el contenedor de oportunidades */
  #opportunityContainer2, #opportunityContainerVerde {
    font-family: 'Inter', sans-serif;
    font-size: 26px; /* Texto grande */
    font-weight: 800; /* Súper resaltante */
    color: #e1e1e1; /* Amarillo vibrante */
    text-transform: uppercase; /* Para que se vea más UI */
    text-align: center;

    border: 2px solid #ffffff;
    background-color: #108c5a ;
    /* Borde */
    overflow: hidden;
    /* Ocultar el contenido que se desborda */
    position: relative;
    /* Posicionamiento relativo para el slider */
    width: 100%;
    /* Ancho completo */
    -ms-overflow-style: none;
    /* IE y Edge */
    scrollbar-width: none;
    /* Firefox */
    margin-bottom: 20px;
    /* Espacio inferior */
  }

  
  /* Estilo para el contenido de las oportunidades */
  .opportunity-content {
    margin-top: 1rem;
    display: flex;
    /* Usar flexbox para alinear tarjetas */
    flex-direction: row;
    /* Alinear en fila */
  }
  
  /* Estilo para las tarjetas de oportunidad */
  .opportunity-card {
    background-color: #ffffff;
    /* Color de fondo de la tarjeta */
    margin: 10px;
    /* Margen entre tarjetas */
    min-width: 300px;
    /* Ancho mínimo de la tarjeta */
    flex: 0 0 auto;
    /* No permitir que las tarjetas se expandan */
  }
  
  /* Estilo para el input de archivo */
  input[type="file"] {
    margin: 20px 0;
    /* Margen superior e inferior */
    padding: 10px;
    /* Espaciado interno */
    border: 1px solid #ccc;
    /* Borde */
    border-radius: 4px;
    /* Bordes redondeados */
    width: 100%;
    /* Ancho completo */
  }
  
  /* Estilo para el botón de carga */
  button {
    background-color: #4CAF50;
    /* Color de fondo */
    color: white;
    /* Color del texto */
    border: none;
    /* Sin borde */
    padding: 10px 15px;
    /* Espaciado interno */
    border-radius: 4px;
    /* Bordes redondeados */
    cursor: pointer;
    /* Cambiar cursor al pasar el mouse */
    transition: background 0.3s;
    /* Transición suave para el hover */
  }
  
  /* Efecto hover para el botón */
  button:hover {
    background-color: #45a049;
    /* Color de fondo al pasar el mouse */
  }
  
  :root {
    --background: #959ca4;
    --navbar-width: 256px;
    --navbar-width-min: 80px;
    --navbar-dark-primary: #043e26;
    --navbar-dark-secondary: #043e0a;
    --navbar-light-primary: #f5f6fa;
    --navbar-light-secondary: #959ca4;
  }
  
  #nav-toggle:checked~#nav-header {
    width: calc(var(--navbar-width-min) - 16px);
  }
  
  #nav-toggle:checked~#nav-content,
  #nav-toggle:checked~#nav-footer{
    width: var(--navbar-width-min);
  }
  
  
  #nav-toggle:checked~#nav-content,
  #nav-toggle:checked~#nav-footer3{
    width: var(--navbar-width-min);
  }
  
  
  #nav-toggle:checked~#nav-header #nav-title {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.1s;
  }
  
  #nav-toggle:checked~#nav-header label[for=nav-toggle] {
    left: calc(50% - 8px);
    transform: translate(-50%);
  }
  
  #nav-toggle:checked~#nav-header #nav-toggle-burger {
    background: var(--navbar-light-primary);
  }
  
  #nav-toggle:checked~#nav-header #nav-toggle-burger:before,
  #nav-toggle:checked~#nav-header #nav-toggle-burger::after {
    width: 16px;
    background: var(--navbar-light-secondary);
    transform: translate(0, 0) rotate(0deg);
  }
  
  #nav-toggle:checked~#nav-content .nav-button span {
    opacity: 0;
    transition: opacity 0.1s;
  }
  
  #nav-toggle:checked~#nav-content .nav-button .fas {
    min-width: calc(100% - 16px);
  }
  
  #nav-toggle:checked~#nav-footer #nav-footer-avatar {
    margin-left: 0;
    left: 50%;
    transform: translate(-50%);
  }
  
  #nav-toggle:checked~#nav-footer3 #nav-footer-avatar3 {
    margin-left: 0;
    left: 50%;
    transform: translate(-50%);
  }
  
  #nav-toggle:checked~#nav-footer #nav-footer-titlebox,
  #nav-toggle:checked~#nav-footer label[for=nav-footer-toggle] {
    opacity: 0;
    transition: opacity 0.1s;
    pointer-events: none;
  }
  
  #nav-toggle:checked~#nav-footer3 #nav-footer-titlebox3,
  #nav-toggle:checked~#nav-footer3 label[for=nav-footer-toggle3] {
    opacity: 0;
    transition: opacity 0.1s;
    pointer-events: none;
  }
  
  #nav-bar {
    position: fixed;
    top: 1vw;
    height: calc(100% - 2vw);
    background: var(--navbar-dark-primary);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    color: var(--navbar-light-primary);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
    user-select: none;
    z-index: 1000;
    /* Agrega esta línea */
  }
  
  #nav-bar hr {
    margin: 0;
    position: relative;
    left: 16px;
    width: calc(100% - 32px);
    border: none;
    border-top: solid 1px var(--navbar-dark-secondary);
  }
  
  #nav-bar a {
    color: inherit;
    text-decoration: inherit;
  }
  
  #nav-bar input[type=checkbox] {
    display: none;
  }
  
  #nav-header {
    position: relative;
    width: var(--navbar-width);
    left: 16px;
    width: calc(var(--navbar-width) - 16px);
    min-height: 80px;
    background: var(--navbar-dark-primary);
    border-radius: 16px;
    z-index: 2;
    display: flex;
    align-items: center;
    transition: width 0.2s;
  }
  
  #nav-header hr {
    position: absolute;
    bottom: 0;
  }
  
  #nav-title {
    font-size: 1.5rem;
    transition: opacity 1s;
  }
  
  label[for=nav-toggle] {
    position: absolute;
    right: 0;
    width: 3rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  #nav-toggle-burger {
    position: relative;
    width: 16px;
    height: 2px;
    background: var(--navbar-dark-primary);
    border-radius: 99px;
    transition: background 0.2s;
  }
  
  #nav-toggle-burger:before,
  #nav-toggle-burger:after {
    content: "";
    position: absolute;
    top: -6px;
    width: 10px;
    height: 2px;
    background: var(--navbar-light-primary);
    border-radius: 99px;
    transform: translate(2px, 8px) rotate(30deg);
    transition: 0.2s;
  }
  
  #nav-toggle-burger:after {
    top: 6px;
    transform: translate(2px, -8px) rotate(-30deg);
  }
  
  #nav-content {
    margin: -16px 0;
    padding: 16px 0;
    position: relative;
    flex: 1;
    width: var(--navbar-width);
    background: var(--navbar-dark-primary);
    box-shadow: 0 0 0 16px var(--navbar-dark-primary);
    direction: rtl;
    overflow-x: hidden;
    transition: width 0.2s;
  }
  
  #nav-content::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  #nav-content::-webkit-scrollbar-thumb {
    border-radius: 99px;
    background-color: #abba23;
  }
  
  #nav-content-highlight {
    position: absolute;
    left: 16px;
    top: -70px;
    width: calc(100% - 16px);
    height: 54px;
    background: var(--background);
    background-attachment: fixed;
    border-radius: 16px 0 0 16px;
    transition: top 0.2s;
  }
  
  #nav-content-highlight:before,
  #nav-content-highlight:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 100%;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    box-shadow: 16px 16px var(--background);
  }
  
  #nav-content-highlight:after {
    top: 100%;
    box-shadow: 16px -16px var(--background);
  }
  
  .nav-button {
    position: relative;
    margin-left: 16px;
    height: 54px;
    align-items: center;
    color: var(--navbar-light-secondary);
    direction: ltr;
    cursor: pointer;
    z-index: 1;
    transition: color 0.2s;
  }
  
  .nav-button span {
    transition: opacity 1s;
  }
  
  .nav-button .fas {
    transition: min-width 0.2s;
  }
  
  .nav-button:nth-of-type(1):hover {
    color: #abba23;
  }
  
  .nav-button:nth-of-type(1):hover~#nav-content-highlight {
    top: 16px;
  }
  
  .nav-button:nth-of-type(2):hover {
    color: #abba23;
  }
  
  .nav-button:nth-of-type(2):hover~#nav-content-highlight {
    top: 70px;
  }
  
  .nav-button:nth-of-type(3):hover {
    color: #abba23;
  }
  
  .nav-button:nth-of-type(3):hover~#nav-content-highlight {
    top: 124px;
  }
  
  .nav-button:nth-of-type(4):hover {
    color: #abba23;
  }
  
  .nav-button:nth-of-type(4):hover~#nav-content-highlight {
    top: 178px;
  }
  
  .nav-button:nth-of-type(5):hover {
    color: #abba23;
  }
  
  .nav-button:nth-of-type(5):hover~#nav-content-highlight {
    top: 232px;
  }
  
  .nav-button:nth-of-type(6):hover {
    color: #abba23;
  }
  
  .nav-button:nth-of-type(6):hover~#nav-content-highlight {
    top: 286px;
  }
  
  .nav-button:nth-of-type(7):hover {
    color: #abba23;
  }
  
  .nav-button:nth-of-type(7):hover~#nav-content-highlight {
    top: 340px;
  }
  
  .nav-button:nth-of-type(8):hover {
    color: #abba23;
  }
  
  .nav-button:nth-of-type(8):hover~#nav-content-highlight {
    top: 394px;
  }
  
  .nav-button:nth-of-type(9):hover {
    color: #abba23;
  }
  
  #nav-bar .fas {
    min-width: 3rem;
    text-align: center;
  }
  
  #nav-footer {
    position: relative;
    width: var(--navbar-width);
    height: 54px;
    background: var(--navbar-dark-secondary);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    z-index: 2;
    transition: width 0.2s, height 0.2s;
  }
  
  #nav-footer-heading {
    position: relative;
    width: 100%;
    height: 54px;
    display: flex;
    align-items: center;
  }
  
  #nav-footer-avatar {
    position: relative;
    margin: 11px 0 11px 16px;
    left: 0;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    transform: translate(0);
    transition: 0.2s;
  }
  
  #nav-footer-avatar img {
    height: 100%;
  }
  
  #nav-footer-titlebox {
    position: relative;
    margin-left: 16px;
    width: 10px;
    display: flex;
    flex-direction: column;
    transition: opacity 1s;
  }
  
  #nav-footer-subtitle {
    color: var(--navbar-light-secondary);
    font-size: 0.6rem;
  }
  
  #nav-footer-toggle:checked+#nav-footer {
    height: 30%;
    min-height: 54px;
  }
  
  #nav-footer-toggle:checked+#nav-footer label[for=nav-footer-toggle] {
    transform: rotate(180deg);
  }
  
  label[for=nav-footer-toggle] {
    position: absolute;
    right: 0;
    width: 3rem;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s, opacity 0.2s;
  }
  
  #nav-footer-content {
    margin: 0 16px 16px 16px;
    border-top: solid 1px var(--navbar-light-secondary);
    padding: 16px 0;
    color: var(--navbar-light-secondary);
    font-size: 0.8rem;
    overflow: auto;
  }
  
  #nav-footer-content::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  #nav-footer3 {
    position: relative;
    width: var(--navbar-width);
    height: 54px;
    background: var(--navbar-dark-secondary);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    z-index: 2;
    transition: width 0.2s, height 0.2s;
  }
  
  #nav-footer-heading3 {
    position: relative;
    width: 100%;
    height: 54px;
    display: flex;
    align-items: center;
  }
  
  #nav-footer-avatar3 {
    position: relative;
    margin: 11px 0 11px 16px;
    left: 0;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    transform: translate(0);
    transition: 0.2s;
  }
  
  #nav-footer-avatar3 img {
    height: 100%;
  }
  
  #nav-footer-titlebox3 {
    position: relative;
    margin-left: 16px;
    width: 10px;
    display: flex;
    flex-direction: column;
    transition: opacity 1s;
  }
  
  #nav-footer-subtitle3 {
    color: var(--navbar-light-secondary);
    font-size: 0.6rem;
  }
  
  #nav-footer-toggle3:checked+#nav-footer3 {
    height: 30%;
    min-height: 54px;
  }
  
  #nav-footer-toggle3:checked+#nav-footer3 label[for=nav-footer-toggle3] {
    transform: rotate(180deg);
  }
  
  label[for=nav-footer-toggle3] {
    position: absolute;
    right: 0;
    width: 3rem;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s, opacity 0.2s;
  }
  
  #nav-footer-content3 {
    margin: 0 16px 16px 16px;
    border-top: solid 1px var(--navbar-light-secondary);
    padding: 16px 0;
    color: var(--navbar-light-secondary);
    font-size: 0.8rem;
    overflow: auto;
  }
  
  #nav-footer-content3::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  .hidden {
    display: none;
  }
  
  .filtroSelect-tabla {
    background-color: white;
    font-size: 1rem;
    margin-left: 10px;
    border: 2px solid #043e26;
    border-radius: 8px;
    color: #043e26;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .filtroSelect-tabla:hover {
    background-color: rgba(255, 255, 255, 0.27);
    color: #043e26;
  }
  
  .filtroButton-tabla {
    background-color: #043e26;
    padding: 5px 10px;
    font-size: 1rem;
    margin: 0 auto;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border: 2px solid #3d7c5f;
    border-radius: 8px;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .filtroButton-tabla:hover {
    background-color: white;
    color: #043e26;
  }
  
  .graphic-table-container {
    position: relative;
    overflow-x: auto;
    overflow-y: auto;
    max-width: 700px;
    max-height: 5000px;
    white-space: nowrap;
    margin: 2rem;
    margin-left: 20rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    transition: all 0.3s ease-in-out;
    background-color: rgba(21, 76, 45, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(30px);
  }
  
  .total-solicitudes {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: #043e26;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    color: #444;
    transition: transform 0.3s ease-in-out;
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  .total-solicitudes:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
  
  .total-solicitudes span {
    font-size: 120px;
    font-weight: bold;
    color: #ffffff;
  }
  
  .grafica {
    margin-top: 20px;
    width: 55%;
    padding: 1rem;
    transition: all 0.3s ease-in-out;
  }
  